<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Warenhaus </div>
  <div class="list-group list-group-flush">
    <a href="/" class="list-group-item list-group-item-action bg-light">Home <i class="fas fa-home"></i></a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Upload <i class="fas fa-cloud-upload-alt"></i></a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Discord Bot <i class="fas fa-robot"></i></a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Donate <i class="fas fa-gift"></i></a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Contact <i class="fas fa-envelope"></i></a>
  </div>
</div>
